footer{
    font-size:15px ;
    margin-left: 5pxpx;
    margin-right: 5px;
    margin-top: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(254, 255, 213);
    background-image:linear-gradient(to right, rgb(0, 0, 0) ,rgb(7, 7, 31) ) ;
    padding: 30px;
    grid-area:footer;
}
